@import 'fonts';
@import 'color';
@import 'typography';
@import 'utilities';
@import 'components';

* { box-sizing: border-box; scroll-behavior: smooth; }

body {
    @extend .body-regular;
    background-color: $theme-greyscale-surface-subtle;
    color: $theme-greyscale-text-body;
    margin: 0;
}

h1 { @extend .h1; color: $theme-greyscale-text-title; margin: 0; }
h2 { @extend .h2; color: $theme-greyscale-text-title; margin: 0; }
h3 { @extend .h3; color: $theme-greyscale-text-title; margin: 0; }
h4 { @extend .h4; color: $theme-greyscale-text-title; margin: 0; }

p      { @extend .body-regular; color: $theme-greyscale-text-body; }
small  { @extend .caption-regular; color: $theme-greyscale-text-caption; }
strong { font-weight: 700; }

.subtitle { @extend .subtitle-regular; color: $theme-greyscale-text-subtitle; }
.headline { @extend .headline-regular; color: $theme-greyscale-text-title; }
.footnote { @extend .footnote-regular; color: $theme-greyscale-text-caption; }

.admin-sidebar {
    width: 250px;
    height: 100vh; 
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 1000;
    background: $theme-greyscale-surface-subtle;
    border-right: 1px solid #dee2e6;
    display: flex;
    flex-direction: column;

    .nav-link {
        &:hover, &.active {
            background: $theme-primary-surface-default;
            color: $theme-greyscale-text-negative;
            font-weight: bold;
        }
    }

    .bottom {
        margin-top: auto;
        padding: 1rem;
        border-top: 1px solid #dee2e6;

        a {
            color: $error-border-lighter;
            text-decoration: none;
            display: flex;
            align-items: center;
            transition: all 0.2s ease;

            &:hover {
                background: none; 
                
                i {
                    color: $error-border-lighter; 
                }
            }
        }
    }
}

.flex-grow-1 {
    margin-left: 250px;
    min-height: 100vh;
}